@page
@model TeamEvaluation.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Weight" class="control-label"></label>
                <input asp-for="Project.Weight" class="form-control" />
                <span asp-validation-for="Project.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.SemesterId" class="control-label"></label>
                @if (Model.SemesterId.HasValue)
                {
                    <select asp-for="Project.SemesterId" class="form-control" asp-items="ViewBag.SemesterId" readonly="readonly">
                    </select>
                }
                else
                {
                    <select asp-for="Project.SemesterId" class="form-control" asp-items="ViewBag.SemesterId">
                    </select>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
